<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codefun</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./denglu.css" />
    <script type="text/javascript" src="./denglu.js"></script>
  </head>
  <body>
    <div class="flex-col justify-start relative page">
      <div class="section"></div>
      <div class="flex-col section_2 pos">
        <div class="flex-row justify-end items-start self-stretch group">
          <div class="section_3"></div>
          <span class="text ml-207">01</span>
        </div>
        <span class="self-start text_2">让我们为您登录</span>
        <div class="flex-col justify-start items-start self-start text-wrapper">
          <span class="font text_3">邮箱/手机号</span>
        </div>
        <div class="flex-row justify-between items-center self-start section_4">
          <span class="font text_4">密码</span>
          <img
            class="image"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=506fe4cc44feca4ed855c3848ca972c4.png"
          />
        </div>
        <div class="flex-row equal-division">
          <div class="flex-col justify-start items-center text-wrapper_2 equal-division-item">
            <span class="font_2 text_5">登入</span>
          </div>
          <div class="ml-56 flex-col justify-start items-center text-wrapper_2 equal-division-item">
            <span class="font_2 text_5">忘记密码</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>