<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codefun</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./shujuguanli.css" />
    <script type="text/javascript" src="./shujuguanli.js"></script>
  </head>
  <body>
    <div class="flex-col justify-start relative page">
      <div class="section"></div>
      <div class="flex-col section_2 pos">
        <img
          class="self-start image"
          src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=aa9e8703376d06081d7396846df0f48b.png"
        />
        <span class="self-stretch text_4">StumbleUpon</span>
        <div class="flex-row items-center self-stretch group_3">
          <img
            class="image_6"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=eba7aa027e72295e336e8b05a383c191.png"
          />
          <span class="ml-22 font_3 text_8">首页</span>
        </div>
        <div class="flex-row items-center self-start section_3">
          <img
            class="shrink-0 image_9"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=0ff9fb28f5005e3a2ab8e22d67faa845.png"
          />
          <span class="ml-20 font_3 text_9">数据管理</span>
        </div>
        <div class="flex-row justify-center items-center self-stretch relative group_4">
          <img
            class="image_10 pos_8"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=bcff6b5e689106bd92d0e31c157e2e0d.png"
          />
          <span class="font_3 text_10">模型训练</span>
        </div>
        <div class="flex-row justify-center items-center self-stretch relative group_5">
          <img
            class="image_11 pos_9"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=0a8184b4c6967ddd56648f5b1abc1f13.png"
          />
          <span class="font_3">结果分析</span>
        </div>
        <div class="flex-col self-stretch group_6">
          <div class="flex-row items-center group_7">
            <img
              class="image_12"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=ab1bc29f38460cb91376dfdd8cfba0fb.png"
            />
            <span class="ml-22 font_3 text_11">设置</span>
          </div>
          <div class="mt-8 flex-col justify-start relative group_8">
            <div class="flex-col justify-start items-center relative group_9">
              <img
                class="image_15"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fd5f1006a3cbf9fde7f16282a2b3aba4.png"
              />
              <img
                class="image_13 pos_10"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=9fa03f7c57c6b105ddfe3b6e74528365.png"
              />
            </div>
            <div class="section_8 pos_36"></div>
            <img
              class="image_22 pos_19"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=dc135d2b35746dd907b1f42a8c7cff2e.png"
            />
            <img
              class="image_24 pos_22"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=f6e42e7ed7807dc1c8ef88ae3ed5deb1.png"
            />
            <img
              class="image_31 pos_37"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=30eff66f02410372baa661de5f9cb5d2.png"
            />
            <img
              class="image_16 pos_12"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fe6ec6af3785499314492f472e71963e.png"
            />
            <img
              class="image_17 pos_13"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=d06af1f3d193aeba658a57335232a3bd.png"
            />
            <div class="flex-col justify-start items-end section_5 pos_20"><div class="section_7"></div></div>
            <img
              class="image_14 pos_11"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fe23061e8ef794a4cb684edafa0e0a81.png"
            />
            <img
              class="image_18 pos_14"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=3556104a5d45fa506532190304e1b8c7.png"
            />
            <div class="flex-col justify-start items-center image-wrapper pos_15">
              <img
                class="image_21"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=6ecb377b22347eda0664669f3bae8996.png"
              />
            </div>
            <div class="section_4 pos_17"></div>
            <img
              class="image_20 pos_18"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=c69be134a558b9f97ec43ad2f56804a8.png"
            />
            <img
              class="image_19 pos_16"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=635315743c0125b9a3365357848b23f6.png"
            />
            <img
              class="image_25 pos_23"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=786cae486732d92cd0d24864cd12547c.png"
            />
            <img
              class="image_28 pos_31"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=7743641f5e3db6a3f4f2d4adef2ead69.png"
            />
            <img
              class="image_26 pos_24"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=2e0869203995a5b485f70118b41b38b3.png"
            />
            <img
              class="image_29 pos_34"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=2b7dfb700063b80ab8e5cc4bfc5a00fb.png"
            />
            <img
              class="image_23 pos_21"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=18d1e63d25267dcb227e41e44b7058f1.png"
            />
            <img
              class="image_27 pos_25"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=e8e071e907bfc2fb692caa79c539066a.png"
            />
            <img
              class="image_28 pos_28"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=7327f17e9ac1f21b5519b6be29da11f3.png"
            />
            <div class="section_6 pos_29"></div>
            <div class="section_6 pos_30"></div>
            <div class="section_6 pos_26"></div>
            <div class="section_6 pos_27"></div>
            <div class="section_6 pos_33"></div>
            <div class="section_6 pos_32"></div>
            <img
              class="image_30 pos_35"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=37aa0b0e59a4e1970ffb73f6373ba509.png"
            />
          </div>
        </div>
      </div>
      <div class="flex-row items-center group pos_3">
        <img
          class="image_3"
          src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=cdf9f9141337cac25e51910d9743f78f.png"
        />
        <span class="font text_2 ml-25">搜索…</span>
      </div>
      <span class="text pos_2">01</span>
      <span class="font_2 text_5 pos_4">Extract Website</span>
      <span class="font_2 text_6 pos_5">Extract Website Type</span>
      <div class="flex-col input">
        <div class="flex-row items-center self-stretch">
          <img
            class="shrink-0 image_4"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=da060cd01cc80f1da95a5bff887b1473.png"
          />
          <img
            class="shrink-0 image_5"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=b116ee37c3c04e8c0c44157ff781cf71.png"
          />
          <div class="flex-row items-start shrink-0 group_2">
            <img
              class="shrink-0 image_2"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=8dfa318e56289179034c4f97974735b7.png"
            />
            <span class="font text_3 ml-17">LF_CYAN27</span>
          </div>
        </div>
        <span class="self-end font_2 text_7 mt-51">Extract Website Sub Type</span>
      </div>
      <img
        class="image_7 pos_6"
        src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=a051d482c335b11c58e1727e93b56393.png"
      />
      <img
        class="image_8 pos_7"
        src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=ad70b6e0739e62357361d01bd96df6a0.png"
      />
    </div>
  </body>
</html>