<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codefun</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./shouye.css" />
    <script type="text/javascript" src="./shouye.js"></script>
  </head>
  <body>
    <div class="flex-col justify-start relative page">
      <div class="section"></div>
      <div class="section_2 pos"></div>
      <div class="flex-col justify-start items-center text-wrapper pos_2"><span class="font">Login</span></div>
      <div class="flex-col justify-start items-center text-wrapper pos_3"><span class="font">Register</span></div>
    </div>
  </body>
</html>