<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codefun</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./zhuce.css" />
    <script type="text/javascript" src="./zhuce.js"></script>
  </head>
  <body>
    <div class="flex-col justify-start relative page">
      <div class="section"></div>
      <div class="flex-col section_2 pos">
        <div class="flex-row justify-end items-start self-stretch">
          <span class="text">01</span>
          <div class="flex-col items-end group">
            <div class="shrink-0 section_3"></div>
            <span class="text_2">注册StumbleUpon</span>
          </div>
        </div>
        <span class="self-end text_3">已经有账户了？登录</span>
        <div class="flex-col items-start self-stretch group_2">
          <div class="flex-col justify-start items-start text-wrapper"><span class="font text_4">用户名</span></div>
          <div class="mt-18 flex-col justify-start items-start text-wrapper">
            <span class="font text_5">邮箱/手机号</span>
          </div>
          <div class="mt-18 flex-col justify-start items-start text-wrapper"><span class="font text_6">密码</span></div>
          <div class="mt-18 flex-col justify-start items-start text-wrapper">
            <span class="font text_7">确认密码</span>
          </div>
        </div>
        <div class="flex-col justify-start items-start self-center text-wrapper_2">
          <span class="text_8">创建用户</span>
        </div>
      </div>
    </div>
  </body>
</html>