<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codefun</title>
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="./moxingxunlian.css" />
    <script type="text/javascript" src="./moxingxunlian.js"></script>
  </head>
  <body>
    <div class="flex-col justify-start items-start relative page">
      <img
        class="image"
        src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=00866d718f4c2a8340c2dd6a99062231.png"
      />
      <div class="flex-col section pos">
        <div class="flex-row">
          <div class="flex-col">
            <img
              class="self-start image_2"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=f76fa5f93ff30845c80905d9aa736b0b.png"
            />
            <span class="mt-32 self-stretch text_4">StumbleUpon</span>
            <div class="mt-32 flex-row items-center self-stretch group_7">
              <img
                class="image_7"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=6da3fcbad8fa44b9d2a6c130e3dc0d8f.png"
              />
              <span class="ml-22 font_3 text_8">首页</span>
            </div>
          </div>
          <div class="flex-col self-center group_3">
            <div class="flex-row items-center group_4">
              <img
                class="image_4"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=cdf9f9141337cac25e51910d9743f78f.png"
              />
              <span class="font text_2 ml-25">搜索…</span>
            </div>
            <div class="flex-row items-center mt-53">
              <span class="font_2">KNN</span>
              <div class="flex-row shrink-0 ml-122">
                <span class="font_2 text_5">BERT</span>
                <span class="font_2 text_6 ml-106">SVM</span>
              </div>
            </div>
          </div>
          <img
            class="self-start image_5"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=0967a8df50b6159d2ca6dc94bd59c1d4.png"
          />
          <div class="flex-col self-start group_5">
            <img
              class="self-start image_6"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=b116ee37c3c04e8c0c44157ff781cf71.png"
            />
            <span class="mt-72 self-end font_2">BP</span>
          </div>
          <div class="flex-row self-center group">
            <img
              class="self-start image_3"
              src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=8dfa318e56289179034c4f97974735b7.png"
            />
            <div class="flex-col justify-start items-end relative group_2 ml-17">
              <span class="text">01</span>
              <div class="flex-col input group_6">
                <span class="self-start font text_3">LF_CYAN27</span>
                <span class="mt-60 self-center font_2 text_7">Catboost</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-22 flex-row items-start">
          <div class="flex-col shrink-0 group_8">
            <div class="flex-row items-center self-stretch group_9">
              <img
                class="image_9"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=6ed8593b7203a95ae58d25480b9bfad2.png"
              />
              <span class="ml-20 font_3 text_9">数据管理</span>
            </div>
            <div class="flex-row items-center self-start section_2">
              <img
                class="image_10"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=bcff6b5e689106bd92d0e31c157e2e0d.png"
              />
              <span class="ml-20 font_3 text_10">模型训练</span>
            </div>
            <div class="flex-row items-end self-stretch group_9 view">
              <img
                class="image_11"
                src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=665a2285e14988f9625af7a7e697faae.png"
              />
              <span class="ml-20 font_3 text_11">结果分析</span>
            </div>
            <div class="flex-col self-stretch group_10">
              <div class="flex-row items-end group_11">
                <img
                  class="image_12"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=ab1bc29f38460cb91376dfdd8cfba0fb.png"
                />
                <span class="ml-22 font_3 text_12">设置</span>
              </div>
              <div class="mt-8 flex-col justify-start relative group_12">
                <div class="flex-col justify-start items-center relative group_13">
                  <img
                    class="image_15"
                    src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fd5f1006a3cbf9fde7f16282a2b3aba4.png"
                  />
                  <img
                    class="image_13 pos_2"
                    src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=9fa03f7c57c6b105ddfe3b6e74528365.png"
                  />
                </div>
                <div class="section_7 pos_28"></div>
                <img
                  class="image_22 pos_11"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=dc135d2b35746dd907b1f42a8c7cff2e.png"
                />
                <img
                  class="image_24 pos_14"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=f6e42e7ed7807dc1c8ef88ae3ed5deb1.png"
                />
                <img
                  class="image_31 pos_29"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=30eff66f02410372baa661de5f9cb5d2.png"
                />
                <img
                  class="image_16 pos_4"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fe6ec6af3785499314492f472e71963e.png"
                />
                <img
                  class="image_17 pos_5"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=d06af1f3d193aeba658a57335232a3bd.png"
                />
                <div class="flex-col justify-start items-end section_4 pos_12"><div class="section_6"></div></div>
                <img
                  class="image_14 pos_3"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=fe23061e8ef794a4cb684edafa0e0a81.png"
                />
                <img
                  class="image_18 pos_6"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=3556104a5d45fa506532190304e1b8c7.png"
                />
                <div class="flex-col justify-start items-center image-wrapper pos_7">
                  <img
                    class="image_21"
                    src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=6ecb377b22347eda0664669f3bae8996.png"
                  />
                </div>
                <div class="section_3 pos_9"></div>
                <img
                  class="image_20 pos_10"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=c69be134a558b9f97ec43ad2f56804a8.png"
                />
                <img
                  class="image_19 pos_8"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=635315743c0125b9a3365357848b23f6.png"
                />
                <img
                  class="image_25 pos_15"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=786cae486732d92cd0d24864cd12547c.png"
                />
                <img
                  class="image_28 pos_23"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=7743641f5e3db6a3f4f2d4adef2ead69.png"
                />
                <img
                  class="image_26 pos_16"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=2e0869203995a5b485f70118b41b38b3.png"
                />
                <img
                  class="image_29 pos_26"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=2b7dfb700063b80ab8e5cc4bfc5a00fb.png"
                />
                <img
                  class="image_23 pos_13"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=18d1e63d25267dcb227e41e44b7058f1.png"
                />
                <img
                  class="image_27 pos_17"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=e8e071e907bfc2fb692caa79c539066a.png"
                />
                <img
                  class="image_28 pos_20"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=7327f17e9ac1f21b5519b6be29da11f3.png"
                />
                <div class="section_5 pos_21"></div>
                <div class="section_5 pos_22"></div>
                <div class="section_5 pos_18"></div>
                <div class="section_5 pos_19"></div>
                <div class="section_5 pos_25"></div>
                <div class="section_5 pos_24"></div>
                <img
                  class="image_30 pos_27"
                  src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=37aa0b0e59a4e1970ffb73f6373ba509.png"
                />
              </div>
            </div>
          </div>
          <img
            class="flex-1 image_8 ml-97"
            src="https://ide.code.fun/api/image?token=6650bbc3602bd200126352f5&name=6f4587429199ceefd002a0ac60d95bc3.png"
          />
        </div>
      </div>
    </div>
  </body>
</html>